* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Pathway Extreme', sans-serif;
}

main {
    background-color: aquamarine;
    display: grid;
    justify-content: center;
    justify-content: space-between;
    grid-template-columns: 80vmin 80vmin;
    grid-template-rows: 15vmin 20vmin 20vmin 20vmin 40vmin;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: 2px solid red;
    height: 6vmin;
}

li {
    margin-right: 2vmin;
}

h1 {
    border: 2px solid red;
    grid-column: 1 / span 2 ;
    grid-row: 1 / span 1;
}

#board {
   border: 2px solid red;
   min-width: 60vmin;
   grid-column: 1 / span 1;
   grid-row: 2 / span 3; 
   display: flex; 
   flex-wrap: wrap; 
   gap: 10px;
   justify-content: center;
}

.card {
    border: 2px solid black;
    height: 15vmin;
    width: 16%;
}

.card.active {
    border-color: red;
}

button {
    background-color: white;
    border: 2px solid red;
    font-family: 'Pathway Extreme', sans-serif;
    padding: 2vmin;
    text-align: center;
    text-decoration: none;
    font-size: 5vmin;
}

#button {
    grid-column: 2 / span 1;
    grid-row: 2/ span 3;
}

#timer {
    border: 2px solid red;
    height: 8vmin;
    font-size: 2.5vmin;
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
}

#message {
    border: 2px solid red;
    height: 8vmin;
    font-size: 2.5vmin;
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
}