* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Pathway Extreme', sans-serif;
  background-image: url('/imgs/background/avengers-background.jpg');
  background-color: rgb(53, 19, 85);;
  background-size: cover;
}

main {
  height: 100 vmin;
  width: 200vmin;
  display: grid;
  justify-content: center;
  justify-content: space-between;
  grid-template-columns: 10vmin 100vmin 100vmin 10vmin;
  grid-template-rows: 15vmin 20vmin 20vmin 10vmin 5vmin;
}

h1 {
  font-size: 7vmin;
  color: rgb(254, 254, 254);
  text-align: center;
  margin-top: 3vmin;
}

#board {
  min-width: 100vmin;
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 10vmin;
  height: 14vmin;
}

.dropdown {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

label {
  color: rgb(254, 254, 254);
  font-size: 2vmin;
  padding-right: 1vmin;
}

#options {
  background-color: rgb(254, 254, 254);
  font-size: 1.5vmin;
  border-radius: 1vmin;
  box-shadow: 0vmin 0.5vmin vmin 0vmin rgba(0, 0, 0, 0.4);
}

.play {
  background-color: rgba(254, 254, 254, 0.6);
  color: rgb(53, 19, 85);
  border: none;
  border-radius: 5vmin;
  font-family: 'Pathway Extreme', sans-serif;
  margin-top: 8vmin;
  padding: 2vmin;
  text-align: center;
  text-decoration: none;
  font-size: 5vmin;
  cursor: pointer;
}

#button {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

#timer {
  height: 8vmin;
  font-size: 3vmin;
  color: rgb(254, 254, 254);
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}

#reset {
  background-color: rgba(254, 254, 254, 0.7);
  color: rgb(53, 19, 85);
  border: none;
  border-radius: 1vmin;
  font-family: 'Pathway Extreme', sans-serif;
  padding: 0.5vmin;
  text-align: center;
  text-decoration: none;
  font-size: 2vmin;
  cursor: pointer;
}

#message {
  height: 8vmin;
  font-size: 4vmin;
  color: rgb(254, 254, 254);
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
}

#footer {
  color: rgb(254, 254, 254);
  font-size: 2vmin;
  padding: 3vmin;
  margin-right: 2vmin;
  display: flex;
  justify-content: flex-end;
}

a {
  color: rgb(254, 254, 254);
  text-decoration: none;
}